$mobile: 375px;
$desktop: 1440px;

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

$blue: hsl(248, 32%, 49%);

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

$fontSize: 16px;
$fontFamily: 'Poppins', sans-serif;
$light: 400;
$semiLight: 500;
$semiBold: 600;
$bold: 700;

// (
//     "400": 400, 
//     "500": 500, 
//     "600": 600, 
//     "700": 700
// )